.whole-page {
  background-image: url(../img/backgroundmilan.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "roboto";
}
.container {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  margin-top: 46px;
  min-height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.main-logo > span {
  font-size: 29px;
  line-height: 29px;
  position: absolute;
}
.logo2 {
  display: none;
}
.main-logo:hover {
  color: #f26522;
}
.main-logo:hover .logo {
  display: none;
}
.main-logo:hover .logo2 {
  display: inline;
}
.contacts-container {
  min-height: 61px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-container > a:last-child {
  text-align: right;
}
.contacts {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.contacts:hover {
  color: #f26522;
}
.tours-table {
  margin-top: 17px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 37px;
}
.tours-table-element {
  text-align: center;
  position: relative;
}
.tour-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 18px;
  color: #ffffff;
}
.tour-links > h2 {
  font-size: 18px;
  font-weight: 400;
}
.tour-links:hover .hidden-block {
  display: flex;
}
.tour-links:hover h2 {
  color: #f26522;
}
.hidden-block {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: #f26522;
  min-height: 55px;
  width: 100%;
  padding: 7px 37px 12px 15px;
  position: absolute;
  left: 0;
  top: 166px;
}
.hidden-block > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hidden-block > p {
  text-align: left;
  font-size: 10px;
  line-height: 10px;
}
.hidden-block > div > p:first-child {
  font-size: 20px;
  line-height: 20px;
}
.hidden-block > div > p:last-child {
  font-size: 14px;
  line-height: 14px;
}
.hidden-block > div > p:last-child::after {
  content: "";
  background-image: url(../img/vector.svg);
  display: inline-block;
  width: 7px;
  height: 12px;
  position: relative;
  top: 1px;
  left: 16px;
}
.footer {
  margin-top: 50px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
}
